h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 49px;
  color: #121C2C;
  margin: 8px auto;
  letter-spacing: 20px;

  /* Left padding recentering letter-spacing */
  padding: 10px 0 10px 20px;
  
  font-weight: 700;
  background-color: #E5E9F1;
}

.game {
  text-align: center;
  margin: 100px auto;
}

.control {
  border: 1px dashed black;
  max-width: 400px;
  margin: auto auto;
}

.score {
  width: 20px;
  height: 30px;
  display: inline-block;
  margin: 20px 20% 20px 20px;
  border: 1px dashed black;
}

.button {
  width: 20px;
  height: 30px;
  display: inline-block;
  margin: 20px 20px 20px 20%;
  border: 1px dashed black;
}

.grid {
  display: inline-block;
  margin: 0px auto;
}

.table {
  border-spacing: 6px;
}

.cell {
  background-color: #ECF2E6;
  border-radius: 10px;
  width: 50px;
  height: 50px;

  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #121C2C;
}

.cell2 {
  background-color: #ECF2E6;
}

.cell4 {
  background-color: #DBE9D0;
}

.cell8 {
  background-color: #C2D5B3;
}

.cell16 {
  background-color: #C7F2A5;
}

.cell32 {
  background-color: #9BDBD9;
}

.cell64 {
  background-color: #92CBC9;
}

.cell128 {
  background-color: #92A3CB;
}

.cell256 {
  background-color: #D179E5;
}

.cell512 {
  background-color: #D001FF;
}

.cell1024 {
  background-color: #FF01AF;
}

.cell2048 {
  background-color: #FF4D9E;
}
